* {
  //border: 1px solid red;
}

$nav-width-top-bottom: 60px;
$nav-width-left-right: 90px;

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .arrow-child:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .left {
    position: absolute;
    height: 100%;
    width: $nav-width-left-right;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .right {
    position: absolute;
    height: 100%;
    width: $nav-width-left-right;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .up {
    position: absolute;
    width: 100%;
    height: $nav-width-top-bottom;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
  }

  .down {
    position: absolute;
    width: 100%;
    height: $nav-width-top-bottom;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }

  $content-padding : 0px;

  .content {
    position: absolute;
    width: calc(100vw - $nav-width-left-right * 2 - $content-padding * 2);
    height: calc(100vh - $nav-width-top-bottom * 2 - $content-padding * 2);
    margin: $nav-width-top-bottom $nav-width-left-right;
    padding: $content-padding;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: auto
  }
}